.home-1 {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url('images/home1.jpg');

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-2 {
    height: 50vh;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0)
}

.account {
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url('images/home1.jpg');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}